.containerOffer h1{
    position: relative;
    top: 20vh;
    text-align: center;
    margin: 5vh auto;
    padding: 10px;
    font-size: 5vh;
    background-color: rgb(247, 120, 16);
    width: 40%;
    border-radius: 10px;
    animation: animationOfContainerOffer 2s 1;

}

.slidingGallery {
    background-image: url("./image-002.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 1000px;
    z-index: -1;
}

.containerOffer .animationOffer {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 40vh;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    font-size: 3vh;
    background-color: rgb(247, 120, 16);
    border-radius: 10px;
    padding: 15px;
    animation: animationOfContainerOffer 2s 1;


}

.containerOffer ul {
    margin-left: 50px;
    margin-top: 0.8vw;
    margin-bottom: 0.8vw;
}

@keyframes animationOfContainerOffer {
    from {
        opacity: 0%;
        left: 50px;
    }
    to {
        opacity: 100%;
        left: 0;
    }
}